body{
  color: #525050;
}
.app{
  padding: 20px;
}
.appHead{
  text-align: center;
  animation: animi;
}
 
.hbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hbox > div {
  padding: 10px;
}
table{
  border-collapse: collapse;
}
table td {
  text-align: center;
}
.tableWrapper{
  height: 300px;
  overflow: auto;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}